{% extends "header.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/" method="POST">
            <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Analyze</button>
                </span>
                <input class="form-control text-left" type="analyze" name="search" placeholder="Digite uma frase para analizar seu sentimento">
            </div>
        </form>
    </div>
    {% if av %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>{{ av }}</h1>
                    <h3>
                        <b>Understanding your score:</b>
                    </h3>
                    <p>
                        This is scored is calculated based on...
                    </p>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}
