{% extends "header.html" %}

{% block header %}
    <title>Heatmap</title>
    <link rel="stylesheet" href="static/css/map.css" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/map">All the nodes</a></li>
            <li><a href="/map-happy">Happy Nodes</a></li>
            <li><a href="/map-sad">Sad Nodes</a></li>
            <li class="active"><a href="/map-statistics">Statistics</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul id="tabs" class="nav nav-tabs navbar-center" data-tabs="tabs">
            <li class="active">
                <a href="#deafult" data-toggle="tab">
                    Default
                </a>
            </li>
            {% for state in states %}
            <li>
                <a href="#{{ state['name'] }}" data-toggle="tab">
                    {{ state['name'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="deafult">
                <div class="col-md-10 col-md-offset-1">
                    Selecione uma aba para ver a estatistica do estado
                </div>
            </div>
            {% for state in states %}
            <div class="tab-pane" id="{{ state['name'] }}">
                <div class="col-md-10 col-md-offset-1">
                    <h2 align="center">{{ state['name'] }}</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Suicide Rate</td>
                                <td>Depressive Percentage</td>
                                <td>Suicide Percentage </td>
                                <td>Average Tweets</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                {{ state['suicide_rate']}}
                            </td>
                            <td>
                                {{ state['depressive_percentage']}}
                            </td>
                            <td>
                                {{ state['suicide_percentage']}}
                            </td>
                            <td>
                                {{ state['avg_label'] }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>

{% endblock %}
