{% extends "header.html" %}

{% block header %}
    <title>Heatmap</title>
    <script src="static/lib/js/require.js"></script>
    <link rel="stylesheet" href="static/css/map.css" type="text/css"/>
{% endblock %}


{% block content %}
    <div class="row">
        <button class="btn btn-default" onclick="toggleHeatmap()">Toggle Heatmap</button>
        <button class="btn btn-default" onclick="changeGradient()">Change gradient</button>
        <button class="btn btn-default" onclick="changeRadius()">Change radius</button>
        <button class="btn btn-default" onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map"></div>
    <script>

var map, heatmap;
// Variavel que mapeia o nome de cada estado ao seu centro (lat e long).
var statemap = {
    Alabama: {
        name: "Alabama",
        center: {lat: 32.778, lng: -86.929}
    },

    Alaska: {
        name: "Alaska",
        center: {lat: 64.061, lng: -152.231}
    },

    Arizona: {
        name: "Arizona",
        center: {lat: 34.274, lng: -111.658}
    },

    Arkansas: {
        name: "Arkansas",
        center: {lat: 34.894, lng: -92.4429}
    },

    California: {
        name: "California",
        center: {lat: 37.199, lng: -119.450}
    },

    Colorado: {
        name: "Colorado",
        center: {lat: 38.998, lng: -105.549}
    },

    Connecticut: {
        name: "Connecticut",
        center: {lat: 41.622, lng: -72.727}
    },

    Delaware: {
        name: "Delaware",
        center: {lat: 38.989, lng: -75.505}
    },

    DistrictOfColumbia: {
        name: "District of Columbia",
        center: {lat: 38.910, lng: -77.015}
    },

    Florida: {
        name: "Florida",
        center: {lat: 28.628, lng: -82.443}
    },

    Georgia: {
        name: "Georgia",
        center: {lat: 32.644, lng: -83.442}
    },

    Hawaii: {
        name: "Hawaii",
        center: {lat: 20.295, lng: -156.372}
    },

    Idaho: {
        name: "Idaho",
        center: {lat: 44.354, lng: -114.609}
    },

    Illinois: {
        name: "Illinois",
        center: {lat: 40.041, lng: -89.197}
    },

    Indiana: {
        name: "Indiana",
        center: {lat: 39.894, lng: -86.282}
    },

    Iowa: {
        name: "Iowa",
        center: {lat: 42.075, lng: -93.496}
    },

    Kansas: {
        name: "Kansas",
        center: {lat: 38.495, lng: -98.380}
    },

    Kentucky: {
        name: "Kentucky",
        center: {lat: 37.536, lng: -85.302}
    },

    Louisiana: {
        name: "Louisiana",
        center: {lat: 31.069, lng: -91.995}
    },

    Maine: {
        name: "Maine",
        center: {lat: 45.370, lng: -69.244}
    },

    Maryland: {
        name: "Maryland",
        center: {lat: 39.055, lng: -76.791}
    },

    Massachusetts: {
        name: "Massachusetts",
        center: {lat: 42.260, lng: -71.808}
    },

    Michigan: {
        name: "Michigan",
        center: {lat: 44.346, lng: -85.411}
    },

    Minnesota: {
        name: "Minnesota",
        center: {lat: 46.281, lng: -94.305}
    },

    Mississippi: {
        name: "Mississippi",
        center: {lat: 32.735, lng: -89.668}
    },

    Missouri: {
        name: "Missouri",
        center: {lat: 38.357, lng: -92.457}
    },

    Montana: {
        name: "Montana",
        center: {lat: 47.053, lng: -109.645}
    },

    Nebraska: {
        name: "Nebraska",
        center: {lat: 41.539, lng: -99.797}
    },

    Nevada: {
        name: "Nevada",
        center: {lat: 39.331, lng: -116.627}
    },

    NewHampshire: {
        name: "New Hampshire",
        center: {lat: 43.681, lng: -71.582}
    },

    NewJersey: {
        name: "New Jersey",
        center: {lat: 40.191, lng: -74.673}
    },

    NewMexico: {
        name: "New Mexico",
        center: {lat: 34.067, lng: -106.113}
    },

    NewYork: {
        name: "New York",
        center: {lat: 42.954, lng: -75.526}
    },

    NorthCarolina: {
        name: "North Carolina",
        center: {lat: 35.558, lng: -79.386}
    },

    NorthDakota: {
        name: "North Dakota",
        center: {lat: 47.445, lng: -100.467}
    },

    Ohio: {
        name: "Ohio",
        center: {lat: 40.286, lng: -82.794}
    },

    Oklahoma: {
        name: "Oklahoma",
        center: {lat: 35.591, lng: -97.494}
    },

    Oregon: {
        name: "Oregon",
        center: {lat: 43.934, lng: -120.562}
    },

    Pennsylvania: {
        name: "Pennsylvania",
        center: {lat: 40.879, lng: -77.799}
    },

    RhodeIsland: {
        name: "Rhode Island",
        center: {lat: 41.676, lng: -71.556}
    },

    SouthCarolina: {
        name: "South Carolina",
        center: {lat: 33.917, lng: -80.896}
    },

    SouthDakota: {
        name: "South Dakota",
        center: {lat: 44.445, lng: -100.228}
    },

    Tennessee: {
        name: "Tennessee",
        center: {lat: 35.861, lng: -86.350}
    },

    Texas: {
        name: "Texas",
        center: {lat: 31.479, lng: -99.329}
    },

    Utah: {
        name: "Utah",
        center: {lat: 39.306, lng: -111.669}
    },

    Vermont: {
        name: "Vermont",
        center: {lat: 44.069, lng: -72.666}
    },

    Virginia: {
        name: "Virginia",
        center: {lat: 37.523, lng: -78.853}
    },

    Washington: {
        name: "Washington",
        center: {lat: 47.382, lng: -120.451}
    },

    WestVirginia: {
        name: "West Virginia",
        center: {lat: 38.641, lng: -80.623}
    },

    Wisconsin: {
        name: "Wisconsin",
        center: {lat: 44.624, lng: -89.994}
    },

    Wyoming: {
        name: "Wyoming",
        center: {lat: 42.996, lng: -107.553}
    }
};

// Center on the US, and zoom apropriate to show the entire US map.
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5,
    center: {lat: 39, lng: -95},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  for (var state in statemap) {
      /////////////////////////
      /* USAR FUNCAO ABAIXO */
      ///////////////////////
      // var StateRates = getStateData(state.name);
      // Add the circle for this state to the map.
      var stateCircle = new google.maps.Circle({
          strokeColor: '#0000FF',
          strokeOpacity: 0.35,
          strokeWeight: 1,
          fillColor: '#0000FF',
          fillOpacity: 0.35,
          map: map,
          center: statemap[state].center,
          /////////////////////////
          /* USAR FUNCAO ABAIXO */
          ///////////////////////
          // radius: ((StateRates.depression_rate + StateRates.suicide_rate)*10000 - 80000)
          radius: 80000
      });
  }

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map
  });
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

function getPoints() {
    /////////////////////////
    /* USAR FUNCAO ABAIXO */
    ///////////////////////
    //var tweets = getTweets();
    var points = [];
    /////////////////////////
    /* USAR FUNCAO ABAIXO */
    ///////////////////////
    /*for(i = 0; i<tweets.length(); i++){
        points.push({location: new google.maps.LatLng((tweets[i].lat), tweets[i].long), weight: tweets[i].sentiment_value});
    }*/
    for(i = 0; i<50000; i++){
        points.push({location: new google.maps.LatLng(((Math.random() * 23) + 26), ((Math.random() * (-60)) - 66)), weight: (Math.random() * 1)});
    }
    return points;
}
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv0u-jKOeQ0H7vJyFFhq6At3_AVeZr0bM&signed_in=true&libraries=visualization&callback=initMap">
    </script>

{% endblock %}
